<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144439642992-bf0l6ubc5s21jm69p6n9c06sbpknpfde.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144439642992-bf0l6ubc5s21jm69p6n9c06sbpknpfde</string>
	<key>API_KEY</key>
	<string>AIzaSyAF8Nmkr_Ell9_7tztNmCYXdfjPFP_MIRc</string>
	<key>GCM_SENDER_ID</key>
	<string>144439642992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demoNotifyProject</string>
	<key>PROJECT_ID</key>
	<string>demonotify-e5fd6</string>
	<key>STORAGE_BUCKET</key>
	<string>demonotify-e5fd6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144439642992:ios:ef1a643245a35a7bbc9db5</string>
</dict>
</plist>